.app {
  min-height: 100vh;
  background-image: linear-gradient(
    0deg,
    rgba(58, 122, 180, 1) 0%,
    rgba(69, 223, 252, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-family: sans-serif;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
